body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://images.pexels.com/photos/7149165/pexels-photo-7149165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: top;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link.hang:hover {
    border-bottom-color: white;
    color: #F9F6EE;
}


.nav-link.active {
    color: white;
    border-bottom-color: white;

}


.nav-link.reg {
    background-color: chocolate;
    border-radius: 0.25rem;
    color: white;
    padding: 0.5rem;

}

.nav-link.reg:hover {
    background-color: brown;

}

.nav-link.log {
    border: 0.05rem solid white;
    border-radius: 0.25rem;
    color: white;
    padding: 0.5rem;

}

.nav-link.log:hover {
    background-color: brown;

}

.btn-secondary {
    color: #333;
    text-shadow: none;
    background-color: beige;
    border: none;
}

.btn-secondary:hover {
    color: #333;
    text-shadow: none;
    background-color: cadetblue;

}

#title {
    font-weight: 700;
}